
.carousel-item p {
        margin: -5px;
 }
 .carousel-item p a {
     margin-top: 35px;
 }
 .carousel-item img{
     width: 100%;
     height: auto;
 }
#main{
    padding-top: 30px;
    background-color: #ffffff;
}
.showcase-box{
    width:430px;
    height: 250px;
    box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin:20px 20px 10px 20px;
    overflow: hidden;
}
.showcase-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.2s;
}
.showcase-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.showcase-heading{
    padding-left: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #1a1a1a;
}
.showcase-heading-kanan{
    padding-right: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #1a1a1a;
}
.showcase-heading-kanan:hover{
    text-decoration: none;
}
.cs-hidden{
    overflow: visible !important;
}
#latest{
    border-top: 1px solid rgba(53,53,53,0.1);
}
.latest-heading{
    margin: 30px 30px 0px 30px;
    font-weight: 500;
    font-size: 1.3rem;
}
.latest-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow:hidden;
    height: 300px;
    width:400px;
    background-color: #ffffff;
}
.latest-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.2s;
}
.latest-b-img{
    width:100%;
    height: 70%;
}
.latest-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.latest-b-text strong{
    color:#3a3a3a;
    margin: 0px;
}
.latest-b-text{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}
.latest-b-text p{
    color:#979797;
    margin: 0px;
}
.movies-heading a{
    border-top: 1px solid rgba(53,53,53,0.1);
    font-weight: 400;
    margin: 0px;
    padding: 1px 20px;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
}
#top {
    border-top: 1px solid rgba(53,53,53,0.1);
}
.movies-heading{
    display: flex;
    margin:0px 2%;
}
.movies-box{
    width:400px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    border-top: 3px solid #292929;
}
.movies-img{
    width:100%;
    height: 50%;
    position: relative;
}
.movies-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movies-box a{
    text-align:center;
    display: block;
    font-size: 12px;
    font-weight: 600;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3a3a3a;
    margin: 20px;
}
.movies-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.2s;
}
#movies-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.quality{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 5px 20px;
    font-weight: 500;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.4);
}


.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns a{
    width: 130px;
    height: 40px;
    border:none;
    outline: none;
    color: #ffffff;
    background-color: #3963f0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.btns a:hover{
    background-color: #284fd1;
}

@media(max-width:880px){

    .showcase-box{
        max-width: 300px;
        height: 180px;
        margin: 10px;
    }
    .latest-box{
        width:190px;
        margin: 20px 5px;
    }
    .movies-box{
        flex-direction: row;
        width:90%;
        border: 1px solid rgba(0,0,0,0.2);
    }
    .movies-box a{
        width:65%;
    }
    .movies-img{
        width:100%;
        height: 50%;
        display: block;
        right: 20px;
        padding: 10px;
    }
    .movies-box a{
        text-align:center;
        display: block;
        font-size: 12px;
        font-weight: 600;
        max-width: 100%;
        -webkit-line-clamp: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #3a3a3a;
        margin: 20px;
    }
    .quality{
        position: absolute;
        left: 55%;
        transform: translateX(-50%);
        background-color: #1f1f1f;
        color: #ffffff;
        padding: 5px 20px;
        font-weight: 500;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 5px 10px 30px rgba(0,0,0,0.4);
    }
    footer{
        justify-content: space-between;
        padding:0px 20px;
        text-align: center;
    }
}
@media(max-width:810px){
    .carousel-item{
        margin-top: 20px;
    }
    .carousel-item h2{
        font-size: 15px;
    }
    .carousel-item p{
        font-size: 10px;
    }
    .carousel-item p a{
        font-size: 7px;
    }
}
@media(max-width:767px){
    .carousel-item{
        margin-top: 50px;
    }
    .carousel-item h2{
        font-size: 15px;
    }
    .carousel-item p{
        font-size: 10px;
    }
    .carousel-item p a{
        font-size: 7px;
    }
}
@media(max-width:560px){
    .carousel-item{
        margin-top: 70px;
    }
    .carousel-item h2{
        font-size: 10px;
    }
    .carousel-item p{
        font-size: 6px;
    }
    .carousel-item p a{
        font-size: 4px;
    }
}
@media(max-width:440px){
    .carousel-item p a{
        margin-top: 10px;
    }
    .carousel-control-prev{
        margin-top: 50px;
    }
    .carousel-control-next{
        margin-top: 50px;
    }
    .movies-box a,.movies-box{
        width: 100%;
    }
    .movies-box{
        flex-direction: column;
    }
    .logo img{
        height: 30px;
    }
    .search{
        width: 90%;
        height: 40px;
    }
}